<launch>
<!-- Launch the Parammeter robot
  <arg name="rviz" default="false"/>
<include file="$(find multirobot_map_merge)/launch/experiments/Neuronbot_scene.launch">
  </include>
  -->
  <!-- Include the map merge launch file -->
  <include file="$(find multirobot_map_merge)/launch/map_merge.launch">
 <!-- if need the init pose of the robot, set the known_init_poses to true
    <param name="known_init_poses" value="true"/>
 -->
  </include>


  <!-- Launch RViz if requested -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find multirobot_map_merge)/launch/map_merge.rviz"/>
</launch>
